node_modules
/dist/js
/target
/wasm-pack.log
/yarn-error.log
.aws-sam/

amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
aws-exports.js
awsconfiguration.json
